Django
dj-database-url
dj-static
gunicorn
Unipath
python-decouple
Pillow
psycopg2
whitenoise
django-crispy-forms
django-safedelete
numpy==1.19.2
tensorflow-cpu
wfdb
PyWavelets
pickle5
pandas
matplotlib