{% extends 'piz/home.html' %}

{% block content %}
{% include 'piz/base.html' %}
{% load custom_filter %}
{% block title %}
<br>
<video style="float:right;" width="600" height="550"  autoplay muted>
  <source src="/static/upload data.mp4" type="video/mp4">
</video>
<h1 style="text-align:left">JJJ Prediction Platform</h1> {% endblock %}
{% if user.is_authenticated %}

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% if user.is_staff %}
  <meta http-equiv="refresh" content="0;url=admin-management-page">
  <!-- <a target="_self" href="admin-management-page" >admin</a> -->
  {% endif %}
  <td><i class="fa fa-laptop w3-text-red w3-large"></i></td>
  <td> Select Project Type </td><br>
  <input type="radio" name = "project_type" value="ECG" checked="true"> ECG <br>
  <input type="radio" name = "project_type" value="Other"> Other <br><br>

  <br>

  <label>Please Enter Unique Data ID for this record</label>
  <input type="text" name="data_id">
  <br>
  <br>
  <td><i class="fa fa-laptop w3-text-red w3-large"></i></td>
  <td>Upload CSV or JSON File</td><br>
  <input type="file" name="document">
  <button type="submit">Upload  File</button>
</form>

<br>
<br>
{% if url %}
  <p>Uploaded File: <a href="{{ url }}">{{ url }} </a></p>
{% endif %}
<br>
<h1>Result Table</h1>
<table style="width:40%" class="w3-table w3-striped w3-white">
  <tr>
  <th>Result</th>
  <th>Probability</th>
  <th><i class="fa fa-medkit"></i>  Access Code</th>
  </tr>
    <td>
      {{label}}
      </td>
      <td>
        {{prob}}
        </td>
        <td>
          {{access_code}}
          </td>
  </table>
<br>

{% else %}
<p> you should  <a href="{% url 'login' %}">login</a> first</p>
{% endif %}
{% endblock%}
