{% extends 'piz/home.html' %}

{% block title %} Create an Account{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("/static/register.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
</head>
<body>

<div class="bg">

</body><br><br><br><br><br><br>
<div class="container">

  <form method = "POST" class="form-group">
      {% csrf_token %}
      {{ form | crispy }}

      <button class ="btn btn-success" type="submit">Register </button>
  </form>
</div>


{% endblock %}
